* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	overflow-wrap: break-word;
}

html, body {
	height: 100%;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f4f4f4;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
}

.h3 {
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
}

.container {
	max-width: 1200px;
	margin: auto;
	background: #fff;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-height: 100vh;
}

.top-section {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 20px;
	width: 100%;
	min-height: 200px;
}

.gray-section {
	background-color: #F0F0F0;
	border-radius: 12px;
	padding: 12px;
	display: flex;
	flex-direction: column;
	word-break: break-all;
}

.profile {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	gap: 20px;
}

.avatar {
	min-width: 200px;
	height: 100%;
	overflow: hidden;
}

.profile-pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 20px;
}

.profile-info {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 200px;
	height: 100%;
	box-sizing: border-box;
}

.hello {
	font-size: 15px;
	font-weight: 500;
	line-height: 15px;
}

.profile-info-down h5 {
	font-size: 22px;
	margin: 0;
	font-weight: 500;
	line-height: 24px;
}

.profile-info-down p {
	font-size: 16px;
	color: #5C5C5C;
	margin: 12px 0 0 0;
}

.languages {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	box-sizing: border-box;
	gap: 16px;
	flex: 1;
}

h3 {
	font-weight: 500;
	font-size: 22px;
}

.goal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

.lang {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 80%;
	max-width: 50%;
	min-width: 30%;
	gap: 15px;
	margin-top: 4px;
	padding: 0 16px 0 0;
}

.lang p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 30%;
	font-size: 16px;
	overflow: scroll;
}


.goal-lines {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 80%;
	width: 100%;
	gap: 15px;
	margin-top: 4px;
	padding: 0 16px 0 0;
}

.goal-line, .goal-line-70 {
	background-color: #28D979;
	width: 100%;
	height: 50%;
	border-radius: 3px;
}

.goal-line-70 {
	width: 70%;
}

.middle-section {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 20px;
	width: 100%;
	min-height: 500px;
	flex: 1;
}

.experience {
	gap: 20px;
}

.experience-block, .experience-block-top {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 10px;
	flex: 1;
	padding: 20px 20px;
	border-radius: 25px;
	background-color: #28D979;
	color: white;
}

.experience-block {
	background-color: white;
	color: black;
}

.recent {
	position: absolute;
	right: 20px;
	top: 20px;
	border-radius: 20px;
	padding: 4px 12px;
	background-color: #7E731266 !important;
	color: #DDF163;
}

.exp-block-job {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex: 1;
	margin-top: 20px;
}

.exp-block-job-name {
	padding-right: 24px;
	min-width: 300px;
}

.exp-block-job-name h4 {
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	padding-bottom: 10px;
}

.tools {
	min-width: 20%;
	max-width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.tools-block {
	background-color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	flex-wrap: wrap;
	padding: 40px 40px;
}

.tools-h3 {
	align-self: flex-start;
}

.tools-logos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	gap: 20px;
	width: 100%;
}

.tools-abs {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: black;
	color: white;
	padding: 4px 12px;
	border-radius: 15px;
	font-size: 10px;
	font-weight: 500;
	white-space: nowrap;
	max-width: 100%;
	overflow: scroll;
	flex-wrap: wrap;
}

.tools-img {
	object-fit: contain;
	width: 35px;
	height: 35px;
}

.bottom-section {
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	gap: 20px;
	min-height: 500px;
}

.education {
	gap: 20px;
	padding: 20px 10px;
}

.education-blocks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.education-block, .education-block-first {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 20px;
	border-radius: 15px;
	box-sizing: border-box;
	background-color: #fff;
	gap: 15px;
}

.education-block-first {
	background-color: #28D979;
	color: white;
}

.education-favorite {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.education-favorite img {
	width: 100%;
}

.interests {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.education h3 {
	line-height: 20px;
	font-weight: 500;
}

.education-date {
	font-size: 20px;
	margin-bottom: 15px;
}

.education-name h3 {
	padding-bottom: 10px;
}

.hashtags {
	color: #149063;
}


.bottom-right {
	max-width: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	flex-direction: column;
	flex: 1;
	gap: 20px;
}

.interests {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	width: 100%;
	min-width: 300px;
	margin: auto;
	min-height: 60%;
}

.interests-p {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 100%;
	gap: 10px;
}

.interests-p p {
	padding: 7px 12px;
	border-radius: 30px;
	background-color: white;
}

.chat {
	background-color: black;
	color: white;
	border-radius: 15px;
	width: 100%;
	padding: 20px;
}

.download {
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	margin: auto;
}

.download button {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px 30px;
	font-size: 20px;
	background-color: #28D979;
	color: white;
	border-radius: 15px;
	outline: 0;
	border: 0;
}

.download button:hover {
	cursor: pointer;
	background-color: #3ae386;
}

.download button:active {
	background-color: #55ec98;
}